/* Global variable */
:root {
    /* Homepage Section */
	--white: #fff;
	--black: #000;
	--lightgrey: #e8e6e6;
	--lightred: #ff1c1c;
	--button_lighterred: #ff3b3b98;
	--button_darkerred: #ff2c2cde;
	--text_box_grey: #cacaca62;
	--text_border_grey: #acacac;

    /* Calculator Section */
    --calculator_light-red: #cf4040;
    --calculator_light-grey: #ddd;
    --calculator_grey: #333;
}



/* General Body Styling */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Cambria';
	scroll-behavior: smooth;
}

body {
	background-color: var(--lightgrey);
	width: 100%;
	overflow: hidden;
}



/* Header Styling */
header {
	background: var(--white);
	display: flex;
	position: sticky;
	top: 0;
	z-index: 99;
}

.navbar__container {
	display: flex;
	justify-content: space-between;
	height: 110px;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

#navbar__logo {
	display: flex;
	align-items: center;
	padding: 0 30px;
	cursor: pointer;
}

.navbar__menu {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
}

.navbar__item {
	height: 110px;
}

.navbar__links {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.navbar__links:hover {
	transition: all 0.3s ease;
}

.navbar__image {
	height: 110px;
	width: 170px;
}

#image-mat {
	margin-left: 20px;
	margin-right: -10px;
}



/* Responsive Menu Fix */
@media screen and (max-width: 1080px) {
	.navbar__container {
		display: flex;
		justify-content: space-between;
		height: 150px;
		z-index: 1;
		width: 100%;
		max-width: 1300px;
		padding: 0;
		margin: 0;
	}

	.navbar__menu {
		display: grid;
		grid-template-columns: repeat(1fr, 1);
		background: var(--lightred);
		padding: 0;
		width: 100%;
		position: absolute;
		top: -1000px;
		opacity: 0;
		transition: all 0.5s ease;
		height: 50vh;
		z-index: -1;
	}

	.navbar__menu.active {
		background: var(--white);
		top: 100%;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 99;
		height: 45vh;
	}

	#navbar-img-logo {
		content: url("images/logo/main/logo3.png");
		height: 90px;
	}

	#navbar-logo {
		padding-left: 35px;
	}

	.navbar__toogle .bar {
		display: block;
		width: 45px;
		height: 5px;
		margin: 8px auto;
		transition: all 0.3s ease-in-out;
		background: var(--black);
		cursor: pointer;
	}

	#mobile-menu {
		position: absolute;
		top: 25%;
		right: 5%;
		transform: translate(5%, 25%);
	}

	.navbar__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.navbar__links {
		display: flex;
		text-align: center;
		width: 100%;
	}

	.navbar__links:hover {
		color: var(--lightred);
		transition: all 0.4s ease-out;
	}

	.navbar__image {
		height: 150px;
		width: auto;
	}

	#image-mat {
		margin: 0;
	}	

	/* Rotating menu bar into x */
	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(12px) rotate(45deg);
		height: 5px;
	}

	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-13px) rotate(-45deg);
		height: 5px;
	}
}



/* Main Styling */
main {
	z-index: 99;
	margin: 0;
	padding: 0;
}


/* Hearing test Section */
.hearing-test__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hearing-test__main {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 1100px;
	height: 900px;
	margin: 100px 0 200px 0;
	border: 3px solid var(--white);
	border-radius: 6px;
	background-color: var(--white);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hearing-test__main h1 {
	font-size: 48px; 
	margin: 80px 0 20px 0;
	color: var(--calculator_light-red);
} 

.hearing-test__main p {
	text-align: center;
	font-size: 26px;
	margin-bottom: 200px;
	width: 50%;
}

.rectangle {
	height: 130px;
	width: 1024px;
	position: relative;
	overflow: hidden;
	border: 3px solid var(--black);
	background-color: var(--calculator_light-grey);
}

.rectangle__line {
	width: 3px;
	height: 124px;
	position: absolute;
	background-color: var(--black);
}

.check-box__container { 
	display: flex;
	height: 150px;
	width: 80%;
	justify-content: space-between;
}

.check__box {
	width: 140px;
	height: 150px;
	background-color: var(--button_lighterred);
	border: 3px solid var(--text_box_grey);
	border-radius: 5px;
}

#age {
	/* margin: 40px 800px 0 0; */
	margin: 60px 0 0 0;
}

#hz {
	/* margin: -155px 0 0 800px; */
	margin: 60px 0 0 0;
}

.check-box__text {
	font-size: 26px;
	font-weight: 400;
	margin-top: 5px;
	color: var(--white);
}

.js__text {
	display: flex;
	justify-content: center;
	margin-top: 22px;
	width: 100%;
	height: 80%;
	font-weight: 400;
	color: var(--white);
}

#js-text-age {
	font-size: 42px;
}

#js-text-hz {
	margin-top: 26px;
	font-size: 28px;
}

.button__section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: -70px;
}

.button__main {
	margin-bottom: 25px;
}

.button { 
	font-size: 20px;
	padding: 20px 80px;
	margin: 0 30px;
	border: none;
	color: var(--white);
	background-color: var(--button_lighterred);
	border-radius: 5px;
	transition: background-color 0.4 ease;
	cursor: pointer;
}

.button:hover {
	background-color: var(--button_darkerred);
}

.button:active {
	background-color: var(--button_lighterred);
}


@media screen and (max-width: 960px) {
	.hearing-test__main {
		height: 800px;
	}

	.hearing-test__main p {
		width: 40%;
	}
	
	.rectangle {
		display: none;
	}

	.rectangle__line {
		display: none;
	}

	.check-box__container {
		width: 30%;
	}

	#age {
		margin-top: -130px;
	}

	#hz {
		margin-top: -130px;
	}

	.button__section {
		margin-top: -30px;
	}

	.button {
		margin: 0 25px;
	}
}