/* Global variable */
:root {
	--white: #fff;
	--black: #000;
	--lightgrey: #e8e6e6;
	--lightred: #ff1c1c;
	--button_lighterred: #ff3b3b98;
	--button_darkerred: #ff2c2cde;
	--text_box_grey: #cacaca62;
	--text_border_grey: #acacac;
}

/* General Body Styling */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Cambria';
}

body {
	background-color: var(--lightgrey);
	width: 100%;
	height: 10%;
	overflow: visible;
}


/* Header Styling */
header {
	background: var(--white);
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	position: sticky;
	top: 0;
	z-index: 99;
}

.navbar__container {
	display: flex;
	justify-content: space-between;
	height: 110px;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	padding: 0 40px;
}

#navbar__logo {
	display: flex;
	align-items: center;
	padding: 0 10px;
	cursor: pointer;
}

.navbar__menu {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
}

.navbar__item {
	height: 110px;
}

.navbar__links {
	color: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	height: 100%;
	padding: 0 16px;
}

.navbar__links:hover {
	color: #ff1c1c;
	transition: all 0.3s ease;
}


/* Language Switch */
.navbar__language-switch a img {
	height: 28px;
	margin-left: 10px;
}


/* Responsive Menu Fix */
@media screen and (max-width: 960px) {
	.navbar__container {
		display: flex;
		justify-content: space-between;
		height: 110px;
		z-index: 1;
		width: 100%;
		max-width: 1300px;
		padding: 0;
		margin: 0;
	}

	.navbar__menu {
		display: grid;
		grid-template-columns: auto;
		background: var(--lightred);
		padding: 0;
		width: 100%;
		position: absolute;
		top: -1000px;
		opacity: 0;
		transition: all 0.5s ease;
		height: 50vh;
		z-index: -1;
	}

	.navbar__menu.active {
		background: var(--white);
		top: 100%;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 99;
		height: 40vh;
		font-size: calc(1vh + 12px);
	}

	#navbar__logo {
		padding-left: 30px;
	}

	.navbar__toogle .bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 6px auto;
		transition: all 0.3s ease-in-out;
		background: var(--black);
		cursor: pointer;
	}

	.navbar__item {
		width: 100%;
		height: 100%;
	}

	.navbar__links {
		text-align: center;
		padding: 35px;
		width: 100%;
		display: table;
	}

	.navbar__links:hover {
		background-color: var(--lightgrey);
		color: var(--black);
		transition: all 0.4s ease-out;
	}

	.navbar__language-switch {
		margin: 15px 0 0 0;
		padding: 0;
	}

	#mobile-menu {
		position: absolute;
		top: 25%;
		right: 5%;
		transform: translate(5%, 25%);
	}


	/* Rotating menu bar into x */
	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(9.5px) rotate(45deg);
		height: 4px;
	}

	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
		height: 4px;
	}
}


/* Main Styling */
main {
	z-index: 99;
	margin: 0;
	padding: 0;
}


/* Background Image Section */
.main__image-container {
	text-align: center;
	position: relative;
	width: 100%;
	height: auto;
}

#main__img {
	width: 100%;
	height: auto; 
	display: block;
	margin: 0 0 20px 0;
}

.main__img-textoverlay {
	position: absolute;
	top: 35%; 
	left: 33%;
	transform: translateX(-50%);
	color: var(--white);
	font-family: 'Cambria';
	font-size: calc(2vw + 14.4px); 
	text-align: center;
	z-index: 1; 
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


/* Article Section */
.article {
	display: flex;
	width: 100%;
	z-index: 1;
	margin: 0;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 10px 0 30px 0;
}

.text h1 {
	font-family: 'Cambria';
	text-align: center;
	font-size: calc(1vw + 24px); 
	margin-top: calc(1.5vw + 24px);
	margin-bottom: calc(2vw + 28px);
}

.text__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0 0 0 25px;
	gap: 10px;
	padding: 5px;
	max-width: 3000px;
	width: 40%;
	border: 3px solid var(--text_box_grey);
	background-color: var(--text_box_grey);
	padding: 5px 0 5px 15px;
	border-radius: 10px;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.text__container h2 {
	display: block;
	font-family: 'Cambria';
	margin: 5px 0;
	width: 95%;
	text-align: left;
	font-size: calc(1vw + 8px); 
	font-weight: 400;
	line-height: 1.4;
}


/* Materials Section */
.materials__container{
	display: grid;
	font-size: 22px;
	width: 100%;
	padding: 20px 0;
	z-index: 1;
}

.materials__main {
	display: grid;
	align-items: center;
	justify-content: center;
}

.materials__main h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 30px 0;
	font-family: 'Cambria';
	font-size: calc(1vw + 24px);
	margin-top: calc(1.5vw + 24px);
	margin-bottom: calc(2vw + 28px);
}

.materials__blocks {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 55px;
	list-style: none;
	text-align: center;
}

.materials__button {
	width: 100%;
}

.btn {
	background-color: var(--button_lighterred);
	color: none;
	width: 280px;
	height: 280px;
	border: none;
	cursor: pointer;
	font-size: 24px;
	border-radius: 8px;
	box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
	transition: font-size 0.2s ease;
}

.btn:hover {
	background-color: var(--button_darkerred);
	font-size: 25px;
	box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.3);
	transform: scale(1.02);
}


/* Footer Section */
.footer__container {
	font-size: 22px;
	padding: 120px 0 80px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#footer__logo {
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
}


/* Social Icons */
.social__media {
	max-width: 1500px;
	width: 100%;
}

.social__media-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	max-width: 1000px;
	margin: 10px auto 10px auto;
}

.social__icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
}

.social__icon-link {
	color: var(--black);
	font-size: 24px;
}

.social__logo {
	color: var(--black);
	justify-self: flex-start;
	margin-left: 20px;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.website__rights {
	color: var(--black);	
}


/* Responsive Main Section Fix */
@media screen and (max-width: 1080px) {
	/* Footer Section */
	.footer__container {
		font-size: calc(1vw + 14px);
	}

	.footer__links {
		padding-top: 32px;
	}

	#footer__logo {
		margin-bottom: 32px;
	}

	.website__rights {
		margin-bottom: 32px;
	}

	.footer__link-wrapper {
		flex-direction: column;
	}

	.social__media-wrap {
		flex-direction: column;
	}
}

@media screen and (max-width: 480px) {
	/* Footer Section */
	.footer__link-items{
		margin: 0px;
		padding: 10px;
		width: 100%;
	}
}